.product-cart {
    
}

.product-cart__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
}

.product-cart__images {
    aspect-ratio: 1/1;
}

.product-cart__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-cart__title {
    margin-bottom: 4px;
}

.product-cart__color {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}